.container {
  background: rgb(252, 249, 239);
  width: 100%;
}
.container-2 {
  background: rgb(255, 207, 51);
  height: 10000px;
  width: 100%;
  margin: 100px;
}
div.box {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  display: inline-block;
}
a.box {
  display: block;
}
#box-3 {
  position: fixed;
  right: 2px;
  bottom: 2px;
}
#box-1 {
  position: sticky;
  top: 0px;
}
p {
  position: sticky;
  top: 100px;
}
button:hover {
  background-color: aqua;
  text-align: center;
  color: blue;
  cursor: pointer;
}
button {
  position: sticky;
  top: 120px;
}
.box:hover {
  background: #000;
  color: red;
}
/* input:hover {
  background: #000;
} */
/* input:focus {
  background-color: red;
  outline: solid 5px green;
  color: #fff;
} */
/* input[type="email"]:focus {
  background-color: red;
  outline: solid 5px green;
  color: #fff;
} */

ul > li {
  list-style: none;
  text-decoration: none;
}

/* ul > li:first-child {
  background: #000;
  color: white;
}
ul > li:nth-child(even) {
  background: red;
  color: white;
}
ul > li:nth-child(odd) {
  background: green;
  color: white;
} */
/* :not(p) {
  position: sticky;
  top: 100px;
} */

ul::after {
  content: "This is after.";
  background: rgb(44, 35, 35);
  color: white;
}

ul::before {
  content: "This is before.";
  background: #fff;
  color: red;
}

p::first-letter {
  font-size: 30px;
  color: red;
}
p::first-line {
  color: green;
}

.box-tran {
  width: 100px;
  height: 100px;
  background: #000;
  transition-duration: 1s;
  transition-property: width;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;
}
.box-tran:hover {
  width: 400px;
}

@keyframes bwt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }

  /* 0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  } */
}
.box-an {
  width: 30px;
  height: 30px;
  background: red;
  animation-name: bwt;
  animation-duration: 1s;
  transition-property: width;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
